/* COLORES */
/* TIPOGRAFIA */
/*BREADCRUMB */
.breadcrumb {
  background-color: rgba(204, 52, 11, 0.75); }
  .breadcrumb h2, .breadcrumb div.error-details {
    text-align: center;
    color: #FFFFFF;
    width: 100%; }
  .breadcrumb div.error-actions {
    text-align: center; }
    .breadcrumb div.error-actions .push {
      margin-left: 2rem; }

/*ABOUT */
.overflow p {
  text-align: justify;
  font-weight: 300;
  margin: 0 0; }
.overflow img {
  width: 20rem; }

.industry {
  width: 24rem;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
  margin: 3rem 0; }

.center {
  margin: auto !important;
  text-align: center; }
  .center .btn.btn-success {
    width: 10rem;
    margin-bottom: 2rem; }

/*SABORES */
.flavor {
  background-color: #482E78 !important;
  border-radius: 0.5rem !important;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1); }
  .flavor .flavor-title {
    color: #EDEEF6;
    text-align: center;
    font-weight: 300; }
  .flavor p.flavor-title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem; }
  .flavor h2.flavor-title {
    padding-top: 1rem; }
  .flavor hr {
    text-align: center;
    border-width: 2px;
    border-radius: 0.5rem !important;
    width: 11.5rem;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 2rem; }
  .flavor a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    cursor: pointer; }
    .flavor a:hover .list-flavor {
      color: #000000;
      background-color: #FFFFFF;
      border-radius: 0.5rem !important; }
    .flavor a .list-flavor {
      text-decoration: none;
      text-align: center;
      font-family: "Indie Flower", cursive !important;
      font-size: 1.8rem;
      color: #EDEEF6; }
    .flavor a .list-flavor.activeF {
      color: #000000;
      background-color: #FFFFFF;
      border-radius: 0.5rem !important; }

.text-w-img {
  text-align: center; }

.vCenter {
  position: absolute;
  top: 25%; }

.notVisible {
  display: none;
  margin: 0 !important; }

.isVisible {
  display: block;
  margin: 0 !important; }
  .isVisible p {
    text-align: justify; }

.wrap.bf {
  margin-top: 2rem; }
  .wrap.bf .col-sm-6 p {
    text-align: justify; }

/*FORM */
.contact {
  margin-bottom: 2rem;
  margin-top: 0.75rem; }

.form-control, .wpcf7-text, .wpcf7-number, .wpcf7-select, .wpcf7-textarea, .wpcf7-submit {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.wpcf7-text:hover, .wpcf7-number:hover, .wpcf7-select:hover, .wpcf7-textarea:hover, .wpcf7-submit:hover {
  border: 1px solid #555; }

.wpcf7-text:focus, .wpcf7-number:focus, .wpcf7-select:focus, .wpcf7-textarea:focus, .wpcf7-submit:focus {
  border: 1px solid #555 !important; }

.wpcf7-textarea {
  height: 5rem;
  resize: none; }

.wpcf7-submit {
  width: 10rem;
  margin: 0 auto;
  font-size: 1.5rem !important;
  color: #FFFFFF !important;
  border-radius: 50px !important;
  background-color: #482E78 !important;
  border-color: #482E78 !important;
  font-weight: 500;
  background-size: cover;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
  transition: 300ms all ease;
  padding-bottom: 2.5rem;
  cursor: pointer; }
  .wpcf7-submit:hover {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #CC340B !important;
    border-color: #CC340B !important; }

/*CLIP */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cd-headline {
  font-size: 3rem;
  line-height: 1.2; }
  .cd-headline .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left; }
    .cd-headline .cd-words-wrapper b {
      display: inline-block;
      position: absolute;
      white-space: nowrap;
      left: 0;
      top: 0; }
      .cd-headline .cd-words-wrapper b.is-visible {
        position: relative; }
  .cd-headline.push span {
    display: inline-block;
    padding: 0.2rem 0; }
  .cd-headline.push b {
    opacity: 0; }
    .cd-headline.push b.is-visible {
      opacity: 1;
      -webkit-animation: push-in 1s;
      -moz-animation: push-in 1s;
      animation: push-in 1s; }
    .cd-headline.push b.is-hidden {
      -webkit-animation: push-out 1s;
      -moz-animation: push-out 1s;
      animation: push-out 1s; }

@-webkit-keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-moz-keyframes push-in {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%); }
  60% {
    opacity: 1;
    -moz-transform: translateX(10%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }
@keyframes push-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%); } }
@-moz-keyframes push-out {
  0% {
    opacity: 1;
    -moz-transform: translateX(0); }
  60% {
    opacity: 0;
    -moz-transform: translateX(110%); }
  100% {
    opacity: 0;
    -moz-transform: translateX(100%); } }
@keyframes push-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  60% {
    opacity: 0;
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    transform: translateX(110%); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300; } }
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem; } }
@media screen and (max-width: 576px) {
  .vCenter {
    margin-top: 1rem !important;
    position: static; } }

/*# sourceMappingURL=brian.css.map */
