/* TABLA DE CONTENIDO */
/* 0 - VARIABLES
 * 1 - HEADER
 * 2 - FIRST VIEWW
 * 3 - ABOUT y SOLUCIONES
 * 4 - Subscription Form
 * 5 - FOOTER
 * 6 - 404
 * 7 - Breadcrumb
 * 8 - services
 *
 * 2 - FOOTER
 * 3 - BREADCRUMB
 * 4 - ABOUT
 * 5 - CALL CONTACT
 * 6 - PRODSERV
 * 7 - CALL SUBS
 * 8 - SLIDER
 * 9 - INDEX
 * 10 - PAGE & POST
 * 11 - RESPONSIVO
 * 12 - MISCELLANEOUS
 */
/* VARIABLES */
/* COLORES */
/* TIPOGRAFIA */
.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

a:hover {
  text-decoration: none; }

html, body {
  font-size: 14px; }

/* HEADER */
body .first-view {
  background-size: cover;
  background-position: center top; }
  body .first-view header .supra-header .rrss {
    padding-top: 0.5rem; }
    body .first-view header .supra-header .rrss li {
      margin: 0rem 0.5rem; }
      body .first-view header .supra-header .rrss li a {
        transition: 300ms all ease; }
        body .first-view header .supra-header .rrss li a:hover {
          opacity: 0.7; }
  body .first-view header .supra-header .supra-info li {
    padding: 0rem 1rem;
    padding-top: 0.5rem;
    background-color: #482E78;
    transition: 300ms all ease; }
    body .first-view header .supra-header .supra-info li:hover {
      background-color: #CC340B; }
    body .first-view header .supra-header .supra-info li img {
      max-width: 1rem;
      margin-right: 0.3rem; }
    body .first-view header .supra-header .supra-info li p {
      color: #FFFFFF;
      margin-bottom: 0.5rem;
      font-weight: 300; }
    body .first-view header .supra-header .supra-info li a {
      color: #FFFFFF; }
    body .first-view header .supra-header .supra-info li:first-child {
      border-radius: 0px 0px 0rem 2rem; }
    body .first-view header .supra-header .supra-info li:last-child {
      border-radius: 0px 0px 2rem 0rem; }
  body .first-view header .infra-header .logo p {
    text-align: center; }
    body .first-view header .infra-header .logo p img {
      max-width: 8rem; }
  body .first-view header nav ul {
    margin-top: 2.5rem; }
    body .first-view header nav ul li {
      margin: 0 0.5rem; }
      body .first-view header nav ul li a {
        font-size: 1.5rem;
        color: #FFFFFF;
        font-weight: 300;
        border-bottom: 0.2rem solid rgba(255, 255, 255, 0) !important;
        transition: 300ms all ease; }
        body .first-view header nav ul li a:hover {
          border-bottom: 0.2rem solid #CC340B !important; }

/* FIRST-VIEW */
body .first-view-info {
  margin-top: 3rem; }
  body .first-view-info .img-jugos p {
    text-align: center; }
  body .first-view-info .img-jugos img {
    width: 100%;
    max-width: 400px; }
  body .first-view-info .info-jugos {
    padding: 2rem; }
body .card {
  border: none;
  border-radius: 0.5rem; }
  body .card .card-body {
    padding: 1.5rem; }
    body .card .card-body .card-title {
      font-size: 1.2rem !important; }
    body .card .card-body .card-text {
      text-align: justify;
      font-weight: 300;
      margin: 0 0; }
body .normal-btn p, body .error-actions p {
  text-align: right;
  margin: 0 0; }
body .normal-btn a, body .error-actions a {
  font-size: 1rem !important;
  color: #FFFFFF !important;
  border-radius: 0.5rem !important;
  background-color: #482E78 !important;
  border-color: #482E78 !important;
  font-weight: 300;
  background-size: cover;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
  transition: 300ms all ease; }
  body .normal-btn a:hover, body .error-actions a:hover {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #CC340B !important;
    border-color: #CC340B !important; }
body .natural {
  margin-top: 3rem; }
  body .natural h2, body .natural h1 {
    text-align: center;
    font-size: 3rem;
    color: #482E78;
    font-family: "Indie Flower", cursive !important; }
  body .natural h1 span {
    text-align: center !important; }
  body .natural .cd-headline {
    margin: 0;
    padding-bottom: 2rem; }

/* ABOUT Y SOLUCIONES */
body .about, body .soluciones {
  margin-top: 3rem; }
  body .about .img-about p, body .about .img-sol p, body .soluciones .img-about p, body .soluciones .img-sol p {
    text-align: center; }
    body .about .img-about p img, body .about .img-sol p img, body .soluciones .img-about p img, body .soluciones .img-sol p img {
      box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3); }
  body .about .title-about, body .soluciones .title-about {
    color: #CC340B;
    font-family: "Indie Flower", cursive !important;
    font-size: 2rem !important; }
body .bg {
  background-size: cover;
  background-position: center; }
body .clip {
  margin-top: 3rem; }
  body .clip h2 {
    text-align: center;
    color: #482E78;
    font-size: 3rem;
    padding-bottom: 1.5rem;
    margin: 0; }

/* Subscription Form */
body .call-subs {
  padding: 1.5rem 0rem;
  background-color: #CC340B; }
  body .call-subs .call-subs-title {
    color: #FFFFFF; }
    body .call-subs .call-subs-title h2 {
      text-align: center;
      font-family: "Indie Flower", cursive !important; }
  body .call-subs .call-subs-form br {
    display: none; }
  body .call-subs .call-subs-form input {
    width: 35% !important;
    margin: 0 0.35rem; }
  body .call-subs .call-subs-form .wpcf7-submit {
    border: none;
    font-size: 1rem !important;
    color: #FFFFFF !important;
    border-radius: 0.5rem !important;
    background-color: #482E78 !important;
    border-color: #482E78 !important;
    font-weight: 300;
    background-size: cover;
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
    transition: 300ms all ease;
    padding: 0.3rem 0rem; }
    body .call-subs .call-subs-form .wpcf7-submit:hover {
      box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
      background-color: #FFFFFF !important;
      border-color: #FFFFFF !important;
      color: #482E78 !important; }
  body .call-subs .call-subs-form .wpcf7-submit {
    width: 20% !important; }

/* FOOTER */
body footer {
  background-color: #482E78;
  margin: 0 !important;
  padding: 2rem 0rem; }
  body footer .center p {
    text-align: center; }
  body footer .center img {
    max-width: 150px;
    width: 100%; }
  body footer .center .craft img {
    max-width: 100px; }
  body footer .center .copy {
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1rem; }
  body footer .rrss {
    margin-top: 5rem; }
    body footer .rrss p {
      text-align: center;
      color: #FFFFFF;
      font-size: 1.5rem; }
    body footer .rrss .autoria {
      font-size: 1rem;
      font-weight: 300; }
      body footer .rrss .autoria a {
        text-decoration: underline;
        color: #FFFFFF; }
    body footer .rrss li {
      padding: 0rem 0.5rem; }
      body footer .rrss li img {
        max-width: 32px !important; }
  body footer .navigation {
    margin-top: 3rem; }
    body footer .navigation ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      body footer .navigation ul li a {
        color: #FFFFFF; }

/* 404 */
body .breadcrumb {
  margin: 5rem 0rem; }
  body .breadcrumb .error-template h1 {
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center; }
  body .breadcrumb a {
    font-size: 1rem !important;
    color: #FFFFFF !important;
    border-radius: 0.5rem !important;
    background-color: #482E78 !important;
    border-color: #482E78 !important;
    font-weight: 300;
    background-size: cover;
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
    transition: 300ms all ease; }
    body .breadcrumb a:hover {
      box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
      background-color: #FFFFFF !important;
      border-color: #FFFFFF !important;
      color: #CC340B !important; }

/* Breadcrumb */
body .breadcrumb h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Indie Flower", cursive !important;
  color: #FFFFFF !important; }

/* services */
body .title-custom {
  margin-bottom: 5rem; }
  body .title-custom h2 {
    text-align: center;
    font-family: "Indie Flower", cursive !important;
    font-size: 3rem;
    color: #482E78; }
body .left-info-serv p {
  text-align: justify; }
body .right-info-serv {
  position: relative; }
  body .right-info-serv ul {
    position: absolute;
    top: 25%;
    left: 20%; }
    body .right-info-serv ul li {
      font-family: "Indie Flower", cursive; }
body .img-serv {
  margin: 3rem 0rem; }
  body .img-serv img {
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
body .btn-serv {
  margin-bottom: 3rem; }
  body .btn-serv p {
    text-align: center; }
    body .btn-serv p a {
      font-size: 1.2rem !important; }

/*# sourceMappingURL=rigo.css.map */
