/* TABLA DE CONTENIDO */
/* 0 - VARIABLES
 * 1 - HEADER
 * 2 - FIRST VIEWW
 * 3 - ABOUT y SOLUCIONES
 * 4 - Subscription Form
 * 5 - FOOTER
 * 6 - 404
 * 7 - Breadcrumb
 * 8 - services
 * 9 - NOSOTROS
 * 10 - VISTA MOVIL */
/* VARIABLES */
/* COLORES */
/* TIPOGRAFIA */
.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 0rem; }

a:hover {
  text-decoration: none; }

html, body {
  font-size: 14px;
  min-width: 300px; }

.especial-arriba {
  display: none; }

.rrss-media {
  display: none; }

.p-normal {
  font-size: 1.3rem; }

.flavor-secundario {
  display: none; }

/* HEADER */
body .pos-f-t {
  display: none; }
body .first-view {
  background-size: cover;
  background-position: center top; }
  body .first-view header .supra-header .rrss {
    padding-top: 0.5rem; }
    body .first-view header .supra-header .rrss li {
      margin: 0rem 0.5rem; }
      body .first-view header .supra-header .rrss li a {
        transition: 300ms all ease; }
        body .first-view header .supra-header .rrss li a:hover {
          opacity: 0.7; }
  body .first-view header .supra-header .supra-info li {
    padding: 0rem 1rem;
    padding-top: 0.5rem;
    background-color: #482E78;
    transition: 300ms all ease; }
    body .first-view header .supra-header .supra-info li:hover {
      background-color: #CC340B; }
    body .first-view header .supra-header .supra-info li img {
      max-width: 1rem;
      margin-right: 0.3rem; }
    body .first-view header .supra-header .supra-info li p {
      color: #FFFFFF;
      margin-bottom: 0.5rem;
      font-weight: 300; }
    body .first-view header .supra-header .supra-info li a {
      color: #FFFFFF; }
    body .first-view header .supra-header .supra-info li:first-child {
      border-radius: 0px 0px 0rem 2rem; }
    body .first-view header .supra-header .supra-info li:last-child {
      border-radius: 0px 0px 2rem 0rem; }
  body .first-view header .infra-header .logo p {
    text-align: center; }
    body .first-view header .infra-header .logo p img {
      max-width: 8rem; }
  body .first-view header nav ul {
    margin-top: 2.5rem; }
    body .first-view header nav ul li {
      margin: 0 0.5rem; }
      body .first-view header nav ul li a, body .first-view header nav ul li #id {
        cursor: pointer;
        font-size: 1.5rem;
        color: #FFFFFF !important;
        font-weight: 300;
        border-bottom: 0.2rem solid rgba(255, 255, 255, 0) !important;
        transition: 300ms all ease; }
        body .first-view header nav ul li a:hover, body .first-view header nav ul li #id:hover {
          border-bottom: 0.2rem solid #CC340B !important; }

/* FIRST-VIEW */
body .first-view-info {
  margin-top: 3rem; }
  body .first-view-info .img-jugos p {
    text-align: center; }
  body .first-view-info .img-jugos img {
    width: 100%;
    max-width: 400px; }
  body .first-view-info .info-jugos {
    padding: 2rem; }
body .card {
  border: none;
  border-radius: 0.5rem; }
  body .card .card-body {
    padding: 1.5rem; }
    body .card .card-body .card-title {
      font-size: 2rem !important; }
    body .card .card-body .card-text {
      text-align: justify;
      font-weight: 300;
      margin: 0 0; }
body .normal-btn p, body .error-actions p {
  text-align: right;
  margin: 0 0; }
body .normal-btn a, body .error-actions a {
  font-size: 1.5rem;
  color: #FFFFFF !important;
  border-radius: 0.5rem !important;
  background-color: #CC340B !important;
  border-color: #CC340B !important;
  font-weight: 300;
  background-size: cover;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
  transition: 300ms all ease; }
  body .normal-btn a:hover, body .error-actions a:hover {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: #482E78 !important;
    border-color: #482E78 !important; }
body .natural {
  margin-top: 3rem;
  overflow: hidden; }
  body .natural h2, body .natural h1 {
    text-align: center;
    font-size: 3rem;
    color: #482E78;
    font-family: "Indie Flower", cursive !important; }
  body .natural h1 span {
    text-align: center !important; }
  body .natural .cd-headline {
    margin: 0;
    padding-bottom: 2rem; }

/* ABOUT Y SOLUCIONES */
body .about, body .soluciones {
  margin-top: 3rem;
  padding-bottom: 3rem; }
  body .about .img-about p, body .about .img-sol p, body .soluciones .img-about p, body .soluciones .img-sol p {
    text-align: center; }
    body .about .img-about p img, body .about .img-sol p img, body .soluciones .img-about p img, body .soluciones .img-sol p img {
      box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
      width: 100%; }
body .title-about {
  color: #CC340B;
  font-family: "Indie Flower", cursive !important;
  font-size: 2rem !important; }
body .bg {
  background-size: cover;
  background-position: center; }
body .clip {
  margin-top: 3rem; }
  body .clip h2 {
    text-align: center;
    color: #482E78;
    font-size: 3rem;
    padding-bottom: 1.5rem;
    margin: 0; }

/* Subscription Form */
body .call-subs {
  padding-top: 2rem;
  background-color: #CC340B; }
  body .call-subs .call-subs-title {
    color: #FFFFFF;
    margin: 1.5rem 0rem; }
    body .call-subs .call-subs-title h2 {
      text-align: left;
      font-family: "Indie Flower", cursive !important;
      font-size: 3rem; }
    body .call-subs .call-subs-title p {
      font-size: 1.2rem; }
    body .call-subs .call-subs-title h2, body .call-subs .call-subs-title p {
      margin-top: 0.5rem; }
  body .call-subs .call-subs-form {
    margin: 1.5rem 0rem; }
    body .call-subs .call-subs-form p {
      text-align: center; }
    body .call-subs .call-subs-form br {
      display: none; }
    body .call-subs .call-subs-form input {
      width: 100% !important;
      margin: 0.5rem 0rem; }
    body .call-subs .call-subs-form .wpcf7-submit {
      border: none;
      font-size: 1rem !important;
      color: #FFFFFF !important;
      border-radius: 0.5rem !important;
      background-color: #482E78 !important;
      border-color: #482E78 !important;
      font-weight: 300;
      background-size: cover;
      box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
      transition: 300ms all ease;
      padding: 0.3rem 0rem; }
      body .call-subs .call-subs-form .wpcf7-submit:hover {
        box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
        background-color: #FFFFFF !important;
        border-color: #FFFFFF !important;
        color: #482E78 !important; }
    body .call-subs .call-subs-form .wpcf7-submit {
      width: 20% !important; }
    body .call-subs .call-subs-form .wpcf7-response-output, body .call-subs .call-subs-form span.wpcf7-not-valid-tip {
      color: #FFFFFF; }

/* FOOTER */
body footer {
  background-color: #482E78;
  margin: 0 !important;
  padding: 2rem 0rem; }
  body footer .center p {
    text-align: center; }
  body footer .center img {
    max-width: 150px;
    width: 100%; }
  body footer .center .craft img {
    max-width: 100px; }
  body footer .center .copy {
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 1rem; }
  body footer .rrss {
    margin-top: 5rem; }
    body footer .rrss p {
      text-align: center;
      color: #FFFFFF;
      font-size: 1.5rem; }
    body footer .rrss .autoria {
      font-size: 1rem;
      font-weight: 300; }
      body footer .rrss .autoria a {
        text-decoration: underline;
        color: #FFFFFF; }
    body footer .rrss li {
      padding: 0rem 0.5rem; }
      body footer .rrss li img {
        max-width: 32px !important;
        transition: 300ms all ease; }
        body footer .rrss li img:hover {
          opacity: 0.7; }
  body footer .navigation {
    margin-top: 3rem; }
    body footer .navigation ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      body footer .navigation ul li {
        transition: 300ms all ease; }
        body footer .navigation ul li:hover {
          background-color: #CC340B; }
        body footer .navigation ul li a {
          color: #FFFFFF; }

/* 404 */
body .breadcrumb {
  margin: 2rem 0rem;
  margin-bottom: 3rem; }
  body .breadcrumb .error-template h1 {
    color: #FFFFFF;
    font-size: 3rem;
    text-align: center; }
  body .breadcrumb a {
    font-size: 1rem !important;
    color: #FFFFFF !important;
    border-radius: 0.5rem !important;
    background-color: #482E78 !important;
    border-color: #482E78 !important;
    font-weight: 300;
    background-size: cover;
    box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
    transition: 300ms all ease; }
    body .breadcrumb a:hover {
      box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
      background-color: #FFFFFF !important;
      border-color: #FFFFFF !important;
      color: #CC340B !important; }

/* Breadcrumb */
body .breadcrumb h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Indie Flower", cursive !important;
  color: #FFFFFF !important;
  margin: 0; }

/* services */
body .row-services {
  margin-right: 0px !important;
  margin-left: 0px !important; }
body .title-custom h2 {
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  color: #FFFFFF; }
body .left-info-serv p {
  text-align: justify; }
body .right-info-serv {
  height: 100%;
  margin-top: 2rem; }
  body .right-info-serv ul {
    padding: 3rem;
    background-color: #482E78;
    color: #FFFFFF;
    transition: 300ms all ease; }
    body .right-info-serv ul:hover {
      background-color: rgba(204, 52, 11, 0.75); }
    body .right-info-serv ul li {
      font-family: "Indie Flower", cursive; }
body .img-serv {
  margin: 3rem 0rem; }
  body .img-serv img {
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
body .btn-serv {
  margin: 3rem 0rem;
  width: 100%; }
  body .btn-serv p {
    text-align: center; }
    body .btn-serv p a {
      font-size: 1.5rem !important; }
body .special-404-btn {
  margin: 1rem 0rem; }

/* NOSOTROS */
body p {
  font-size: 1.3rem; }
  body p b {
    font-weight: 700; }
body .about .first-cardbody {
  margin-bottom: 1rem; }
body .about .second-cardbody {
  margin-top: 1rem;
  background-color: #482E78;
  color: #FFFFFF;
  transition: 300ms all ease; }
  body .about .second-cardbody p {
    text-align: center; }

/* VISTA MOVIL */
@media screen and (max-width: 992px) {
  header {
    display: none; }

  .pos-f-t {
    display: block !important; }

  .supra-info .nav-item img {
    width: 1rem;
    margin-right: 0.5rem; }

  .rrss .small-parra {
    font-weight: 300;
    margin-bottom: 0.5rem; }
  .rrss li img {
    width: 2rem;
    margin: 0rem 0.5rem;
    transition: 300ms all ease; }
    .rrss li img:hover {
      opacity: 0.7; }

  .idioma a {
    text-decoration: underline;
    font-weight: 700;
    transition: 300ms all ease; }

  .bg-dark {
    background-color: #482E78 !important; }
    .bg-dark li a {
      color: #FFFFFF; }

  .bg-primary {
    background-color: #CC340B !important; }

  .right-info-serv {
    display: block;
    position: static !important; }
    .right-info-serv ul {
      position: static !important;
      text-align: center; } }
@media screen and (max-width: 576px) {
  html {
    font-size: 12px; }

  .natural {
    margin-top: 0rem !important; }
    .natural h2 {
      font-size: 2rem !important; }
    .natural h1 {
      padding: 0rem !important;
      font-size: 2rem !important; }

  .especial-arriba {
    display: block;
    margin: 0 auto; }

  .especial-abajo {
    display: none; }

  .call-subs {
    margin: 0rem !important; }

  .natural-serv {
    padding: 2rem 0rem !important; }

  .breadcrumb .title-custom h2 {
    font-size: 2rem !important; }

  .cd-headline {
    margin: 1rem 0rem !important; }

  .normal-btn a, .error-actions a {
    font-size: 1.5rem !important; } }
@media screen and (max-width: 992px) {
  footer {
    padding: 0rem !important; }
    footer .rrss {
      margin-top: 1rem !important; }
    footer .sigu-text {
      text-align: right !important; }
    footer .navigation ul li a {
      text-align: center; }

  .vista-pc {
    display: none; }

  .bf {
    margin-top: 0rem !important; }

  .flavor-secundario {
    display: inline-block; }

  .flavor-principal {
    display: none; }

  .bottle-flavor .p-img img {
    width: 200px !important;
    max-width: 15% !important; }

  .bottle-all-secundario {
    min-height: 160px; } }
/* SABORES */
body .flavor {
  margin: 0rem;
  max-height: 100%;
  padding: 1rem !important; }
  body .flavor hr {
    border-color: #FFFFFF;
    margin-bottom: 0.5rem; }
  body .flavor a {
    margin: 1rem 0rem; }
body .special-wrap {
  padding: 0rem !important; }
  body .special-wrap .row {
    margin: 0rem !important; }
body .flavor .flavor-title {
  font-weight: 700; }
body .juices {
  padding: 0rem !important; }
  body .juices .isVisible {
    margin: 0rem !important; }
    body .juices .isVisible img {
      width: 100% !important;
      margin: 0rem !important;
      max-width: 6rem; }
  body .juices .text-w-img {
    text-align: center; }
  body .juices p {
    padding: 1rem; }
body .main-info-flavor p {
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  padding: 0rem !important;
  margin: 0rem !important; }
body .bottle-flavor .p-img {
  text-align: center; }
  body .bottle-flavor .p-img img {
    max-width: 40%; }
body .flavor-principal .row {
  margin-top: 2rem;
  margin-right: 0rem;
  margin-left: 0rem; }
body .bottle-all-secundario {
  position: relative;
  overflow: hidden;
  transition: 300ms all ease;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  margin: 1.5rem 0rem; }
  body .bottle-all-secundario img {
    opacity: 0.2; }
  body .bottle-all-secundario .desc {
    position: absolute;
    transition: top 1s linear;
    top: 0; }
    body .bottle-all-secundario .desc p {
      font-size: 1rem; }
  body .bottle-all-secundario .card-title {
    text-align: center;
    font-weight: 700; }
  body .bottle-all-secundario .card-text {
    text-align: justify; }
body .arropa {
  padding: 0rem 1rem; }
body .bottle-all {
  position: relative;
  overflow: hidden;
  transition: 300ms all ease;
  border-radius: 5px; }
  body .bottle-all .desc {
    position: absolute;
    transition: top 1s linear; }
    body .bottle-all .desc p {
      font-size: 1rem; }
  body .bottle-all:hover {
    background-color: rgba(255, 255, 255, 0.7) !important; }
    body .bottle-all:hover img {
      opacity: 0.2; }
    body .bottle-all:hover .desc {
      top: 0; }
  body .bottle-all .card-title {
    text-align: center;
    font-weight: 700; }
  body .bottle-all .card-text {
    text-align: justify; }
body .bf .card {
  background-color: #482E78;
  color: #FFFFFF; }

/* FORM */
body .modalF .form-login br {
  display: none; }
body .modalF .form-login input, body .modalF .form-login select, body .modalF .form-login textarea {
  margin: 0.5rem auto !important; }

/*# sourceMappingURL=rigo.css.map */
